<header>
  <!-- navigation -->
  <nav class="navbar navbar-light bg-success p-2 text-light">
    <div class="container">
        <a class="navbar-brand" href="/">
          <img src="/images/saving.png" width="30" height="30" class="d-inline-block align-top" alt="好。吃">
          <span class="text-light">{{#if isAuthenticated}}{{user.name}}'s {{/if}}記帳本</span>
        </a>
        {{#if isAuthenticated}}
          <div class="d-flex">
            <a href="/records/new"><button class="btn btn-outline-light me-2">新增</button></a>
            <a href="/users/logout"><button class="btn btn-outline-danger">登出</button></a>
          </div>
        {{else}}
          <div class="d-flex">
            <a href="/users/login"><button class="btn btn-outline-light me-2">登入</button></a>
          </div>
        {{/if}}
    </div>
  </nav>
</header>